{% extends "base.html" %}
{% block content %}



<!-- <br>
<br>
<br>
<div class="container">
  <div class="light-text">
    <h2 class="my-name">Dan Rodriguez</h2>
    <h6>Web Developer</h6>
    <br>
    <p>I am a self taught web developer eager to find a position within a company where I can apply my knowledge and expand my professional skills. Some apps I have built can be found in the navbar above. I built these apps to showcase the skills I have taught myself. I have already created websites for businesses which are linked to below.</p>
    <br>
    <p>All of the apps and websites I built were made with Python, Flask, JavaScript, HTML, CSS and Bootstrap</p>
    <br>
    <div class="row">
      <div class="col-1">
        <button type="button" class="btn btn-outline-dark">LinkedIn</button>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-outline-dark">Github</button>
      </div>
      <div class="col-10">

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <h5>Web Apps</h5>
      </div>
      <div class="col">
        <h5>Websites</h5>
      </div>
    </div>
  </div>
</div> -->
















<!-- <img src="static/pics/8.jpg" alt="" class="img-fluid homepage-images">
<div class="orange">
  <br>
  <div class="container-fluid" style="max-width:1000px">
    <p>&lt;p&gt;I am a self taught web developer eager to find a position within a company where I can apply my knowledge and expand my professional skills. Some apps I have built can be found in the navbar above. I built these apps to showcase the skills I have taught myself which can be built upon. You can view some of the websites I've created below. Feel free to contact me if you would like to inquire about a website you need made.&lt;/p&gt;<span id="cursor">|</span></p>

    <br>
    <div class="my-links">
      <a href="mailto:djrodriguez119@gmail.com"><img src="static/pics/email3.png" alt="" style="height: 30px; width: 30px;"></a>
      <a href="https://www.linkedin.com/in/daniel-james-rodriguez/"><img src="static/pics/linkedin.png" alt="" style="height: 30px; width: 30px;"></a>
      <a href="https://github.com/dirtydan119"><img src="static/pics/github2.png" alt="" style="height: 30px; width: 30px;"></a>
      <a href="/return-file" target="blank" class="here"><u>RESUME</u></a>
    </div>
    <br>
    <h4>All apps and websites were built with:</h4>
    <h5>Python, Flask, JavaScript, HTML, CSS, Bootstrap</h5>
    <br>
    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="static/pics/wwc.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text light-text card-info">Wellington Wine Consulting is a sommelier consulting service operating in Wellington Florida.</p>
            <a href="https://www.wellingtonwineconsulting.com/"><button type="button" name="button" class="btn btn-outline-secondary card-button">Visit</button></a>
          </div>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
  <br>

  <br>
  <br>
</div>
<div class="center-text light-text my-info">
  <h5><u><i>Info</i></u></h5>
  <p class="my-info2">djrodriguez119@gmail.com</p>
  <p class="my-info2">(561) 847-0446</p>
  <p class="my-info2">Orlando, FL</p>
</div> -->











<!-- <img src="static/pics/9.jpg" alt="" class="img-fluid homepage-images"> -->
<div class="orange">
  <div class="container-fluid" style="max-width:1000px">
    <br>
    <h2 class="center-text"><b class="my-name">Dan Rodriguez</b></h2>
    <h5 class="center-text">Web Portfolio</h5>
    <hr style="height:1px;border-width:0;color:gray;background-color:black;opacity:0.9;width:50%;">
    <h5 class="center-text">I'm a self taught developer available for hire.<br> More info, contact details and projects can be found below.</h5>
    <!-- <p id="demo"><span>Dan Rodriguez, Web Developer</span></p> -->
    <br>
    <div class="container-fluid my-command-line" style="max-width:900px; max-height:1000px;">
      <div class="shadow-lg">
        <div class="top-bar">
          <p class="alignleft"><img src="static/pics/cmd.png" alt="" style="height:20px; width:20px;"> Command Prompt - python</p>
          <div class="alignright">
            <img src="static/pics/minimize.png" alt="" style="height: 22px; width: 22px;">
            <img src="static/pics/maximize3.png" alt="" style="height: 17px; width: 17px;">
            <img src="static/pics/exit.png" alt="" style="height: 20px; width: 20px;">
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="black-section">
          <p class="light-text">> Dan.location<br>"Orlando, FL"</p>
          <p class="light-text">> Dan.contact<br>["<a href="https://www.linkedin.com/in/daniel-james-rodriguez/">LinkedIn</a>", "<a href="https://github.com/dirtydan119">GitHub</a>", "<a href="mailto:djrodriguez119@gmail.com">djrodriguez119@gmail.com</a>", "<a href="tel:561-847-0446">(561) 847-0446</a>"]</p>
          <p class="light-text">> Dan.resume<br>"<a href="/return-file" target="blank">resume.docx</a>"</p>
          <p class="light-text">> Dan.education<br>"B.S. Biology - University of Central Florida, 2015"</p>
          <p class="light-text">> Dan.skills<br>["Python", "Flask", "JavaScript", "HTML", "CSS", "Bootstrap"]</p>
          <p class="light-text">> <span id="cursor">_</span></p>
        </div>
      </div>
    </div>



  <!-- </div>
  <br>
  </div>


    <br>
    <div class="about-me-section">
      <div class="container">
        <h2 class="center-text"><u>About Me</u></h2>
        <br>
        <div class="row">
          <div class="col-4">
            <img src="static/pics/headshot.png" alt="" class="img-thumbnail">
          </div>
          <div class="col-8 vert-center">
            <p class="center-text">I am a self taught web developer eager to find a full time position. You can view some of my projects below. I built these apps to showcase the skills I have taught myself. <br>Feel free to contact me.</p>
          </div>
        </div>
        <br>
      </div>
    </div>


  <div class="orange">
    <div class="container-fluid" style="max-width:1000px"> -->
      <!-- <hr style="height:1px;border-width:0;color:gray;background-color:black;opacity:0.7;"> -->
    <br>
    <!-- <h4 class="center-text"><u>Projects</u></h4> -->
    <br>
    <div class="card-deck">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('home')}}" class="my-projects-a">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/pics/crypto_app.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text light-text card-info">Crypto Currency Portfolio App</p>
            </div>
          </div>
        </a>
        {% else %}
        <a href="{{url_for('register')}}" class="my-projects-a">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/pics/crypto_app.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text light-text card-info">Crypto Currency Portfolio App</p>
            </div>
          </div>
        </a>
        {% endif %}

        <a href="https://www.wellingtonwineconsulting.com/" class="my-projects-a">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/pics/wwc1.PNG" alt="Card image cap">
            <div class="card-body">
              <p class="card-text light-text card-info">Wellington Wine Consulting</p>
            </div>
          </div>
        </a>

        <!-- <a href="{{url_for('whack_a_mole')}}" class="my-projects-a">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/pics/wam.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text light-text card-info">Whack a Mole</p>
            </div>
          </div>
        </a> -->

        <a href="{{url_for('currency_conversion')}}" class="my-projects-a">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/pics/curr_convert1.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text light-text card-info">Forex Conversion App</p>
            </div>
          </div>
        </a>
    </div>

    <!-- <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="static/pics/CryptoApp.PNG" alt="Card image cap">
          <div class="card-body">
            <br>
            <p class="card-text light-text card-info">Crypto Currency Portfolio App</p>
            <a href="https://www.wellingtonwineconsulting.com/"><button type="button" name="button" class="btn btn-outline-secondary card-button">Visit</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="static/pics/wwc.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text light-text card-info">Wellington Wine Consulting is a sommelier consulting service operating in Wellington Florida.</p>
            <a href="https://www.wellingtonwineconsulting.com/"><button type="button" name="button" class="btn btn-outline-secondary card-button">Visit</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="static/pics/whackamole.PNG" alt="Card image cap">
          <div class="card-body">
            <p class="card-text light-text card-info">Whack a Mole</p>
            <a href="https://www.wellingtonwineconsulting.com/"><button type="button" name="button" class="btn btn-outline-secondary card-button">Visit</button></a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <br>

  <br>
  <br>
</div>
<div class="center-text my-info light-text">
  <h5 class="my-info2"><u><i>Info</i></u></h5>
  <div class="my-links">
    <a href="mailto:djrodriguez119@gmail.com"><img src="static/pics/email3.png" alt="" style="height: 22px; width: 22px;"></a>
    <a href="https://www.linkedin.com/in/daniel-james-rodriguez/"><img src="static/pics/linkedin.png" alt="" style="height: 22px; width: 22px;"></a>
    <a href="https://github.com/dirtydan119"><img src="static/pics/github2.png" alt="" style="height: 22px; width: 22px;"></a>
  </div>
  <p class="my-info2">(561) 847-0446</p>
  <p class="my-info2">Orlando, FL</p>
</div>
























{% endblock %}
