{% extends "base.html" %}
{% block content %}

<!-- <p></p>
<div class="container-fluid">
<div class="jumbotron">
  <h2><b>Login</b></h2>
  <p></p>
  <form method="post">
    {{form.hidden_tag()}}
    {{form.email.label(class="form-control-label")}}{{form.email(class="form-control form-control-lg")}}
    {{form.password.label(class="form-control-label")}}{{form.password(class="form-control form-control-lg")}}<br>
    {{form.submit3(class="btn btn-outline-info")}}
  </form>
</div>
</div> -->

<div class="orange">
  <br>
  <br>
  <div class="container-fluid" style="max-width:700px;">
    <br>
    <div class="jumbotron my-login">
      <h3 class="center-text light-text">Login</h3>
      <hr style="height:1px;border-width:0;color:gray;background-color:#fcfcfc;opacity:0.7;">
      <form method="post">
        {{form.hidden_tag()}}
        {{form.email.label(class="form-control-label light-text")}}{{form.email(class="form-control form-control-lg")}}
        {{form.password.label(class="form-control-label light-text")}}{{form.password(class="form-control form-control-lg")}}<br>
        {{form.submit3(class="btn btn-add-help")}}
      </form>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="center-text light-text my-info">
  <h5 class="my-info2"><u><i>Info</i></u></h5>
  <div class="my-links">
    <a href="mailto:djrodriguez119@gmail.com"><img src="static/pics/email3.png" alt="" style="height: 22px; width: 22px;"></a>
    <a href="https://www.linkedin.com/in/daniel-james-rodriguez/"><img src="static/pics/linkedin.png" alt="" style="height: 22px; width: 22px;"></a>
    <a href="https://github.com/dirtydan119"><img src="static/pics/github2.png" alt="" style="height: 22px; width: 22px;"></a>
  </div>
  <p class="my-info2">(561) 847-0446</p>
  <p class="my-info2">Orlando, FL</p>
</div>

{% endblock %}
